<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
	<head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
	</head>
	<body>
		<div style="text-align:center; 
		position:relative; 
		top:100px;">
		<h1> Welcome to The Patient Management System.</h1>
        <p style = "font-family:georgia,garamond,serif;
        font-size:16px;
        font-style:italic;">
        How would you like to get started today?
		</p> 
		</div>
		
		<div id="table" style="position:relative; top:200px; left:100px; width:400px;">
		<table style="width:100%">
	  		<tr>
	    	<td id="number">Patient Name</td>
	    	<td>Patient Age</td>
	  		</tr>
	  		<tr>
	    	<td>John</td>
	    	<td>14</td>
	  		</tr>
			</table>
		</div>
	</body>
</html>