<!DOCTYPE html>
<html>
	<head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
	</head>
	<body>
		<div style="text-align:center; 
		position:relative; 
		top:100px;">
		<h1> Welcome to The Patient Management System.</h1>
        <p style = "font-family:georgia,garamond,serif;
        font-size:16px;
        font-style:italic;">
        How would you like to get started today?
		</p> 
		</div>
	</body>
</html>