<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
	<head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
	</head>
	<body>
		<div style="text-align:center; 
		position:relative; 
		top:100px;">
		<h1> Welcome to The Patient Management System.</h1>
        <p style = "font-family:georgia,garamond,serif;
        font-size:16px;
        font-style:italic;">
        How would you like to get started today?
		</p> 
		</div>
		
		<div id="table" style="position:relative; top:200px; left:100px; width:400px;">
		<table style="width:100%">
	  		<tr>
	    	<td id="number">Patient Name</td>
	    	<td>Patient Age</td>
	  		</tr>
	  		<tr th:each="patient:${PatientTable}">
	  		<td th:text="${patient.name}"> </td>
	  		<td th:text="${patient.age}"> </td>
	  		</tr>
			</table>
			<h1 th:text = ${PatientTable.size()}></h1>
		</div>
		<div id = "table" style="position:relative; top:50px; left:800px; width:400px;">
		<h1> This is where we ask for patients </h1>
		<form action="#",th:action="@{/index}" method="post" th:object="${patient}">
		<label>Name:</label> 
		<input type="text" th:field = "*{name}"/><br/>		
		<label>Age:</label> 
		<input type="text" th:field = "*{name}"/><br/>		
		<label>StartDate:</label> 
		<input type="text" th:field = "*{name}"/><br/>	
		<label>EndDate:</label> 
		<input type="text" th:field = "*{name}"/><br/>		
		</form>
		</div>
	</body>
</html>